*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Geaogia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f2f0;
}

.calender {
border: 1px solid #bfa980;
background: #fff;
border-radius: 8px;
width: 300px;
display: flex;
flex-direction: column;
height: auto;
/* max-height: 1oopx;
max-width: 100%; */
box-sizing: 0 10px 20px rgba(0, 0, 0, 0.1);
overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: linear-gradient(135deg, #d4af37, #bfa980);
    color: #fff;
    /* flex-shrink: 0; */
    border-bottom: 2px solid #bfa980;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header button {
    background: #bfa980;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

.header button:hover {
    background: #a68a56;
    transform: translateY(-2px);
}

.header button:active {
    background: #8c7046;
    transform: translateY(0);
}

#monthYear {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.days, .days-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    background: #f9f7f2;
    box-sizing: 2px solid #bfa980;
}

.day-name {
    padding: 10px;
    text-align: center;
    background: #e6dac7;
    font-weight: bold;
    color: #7b5d3c;
    border-right: 1px solid #bfa980;
    border-bottom: 1px solid #bfa980;
    box-sizing: border-box;
}

.days-content div {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    border-right: 1px solid #bfa980;
    border-bottom: 1px solid #bfa980;
    background: #f9f7f2;
    color: #7b5d3c;
}

.days-content div:nth-child(even) {
    background: #f3f0e6;
}

.days-content div:nth-child(7n) {
    border-right: none;
}

.days-content div:hover {
    background: #e6dac7;
    cursor: pointer;
}

.days-content {
    flex-grow: 1;
    overflow: auto;
    grid-auto-rows: minmax(50px, auto);
}

.day-name, .days-content div {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}